# IDE files and folders
.php_cs.cache
nbproject/
node_modules/
.idea/

# Application files and folders
logs/log_*
*config.php
*config-backup-*.php
robots.txt
sitemap.xml

temp/cache/cache_*

media/modules/*/section-*
!media/modules/.gitkeep
!media/modules/*/.gitkeep

media/public/*
!media/public/.gitkeep

neoflow-cms-*.zip

update/delivery/*
!update/delivery/*/.gitkeep

vendor/
composer.lock
package-lock.json
themes/neoflow-backend/package-lock.json
