# IDE files and folders
.php_cs.cache
nbproject/
node_modules/
*package-lock.json
*composer.lock

# Application files and folders

logs/log_*
*config.php
!installation/config.php
*config-backup-*.php
robots.txt
sitemap.xml

temp/cache/cache_*

media/modules/wysiwyg/section-*
!media/modules/.gitkeep
!media/modules/wysiwyg/.gitkeep

media/public/*
!media/public/.gitkeep

update/neoflow-cms-update*.zip

update/delivery/files/*
!update/delivery/files/.gitkeep

update/delivery/packages/modules/*
!update/delivery/packages/modules/.gitkeep

update/delivery/packages/themes/*
!update/delivery/packages/themes/.gitkeep

vendor/