# IDE files and folders
.php_cs.cache
nbproject/
node_modules/
*package-lock.json
*composer.lock

# Application files and folders

logs/log_*
*config.php
!installation/config.php
*config-backup-*.php
robots.txt
sitemap.xml

temp/cache/cache_*

media/modules/*/section-*
!media/modules/.gitkeep
!media/modules/*/.gitkeep

media/public/*
!media/public/.gitkeep

neoflow-cms-*.zip

installation/*
!installation/*/.gitkeep

update/delivery/*
!update/delivery/*/.gitkeep

vendor/