@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('#{$r-font-path}roboto-bold-webfont.woff2') format('woff2'),
        url('#{$r-font-path}roboto-bold-webfont-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('#{$r-font-path}roboto-italic-webfont.woff2') format('woff2'),
        url('#{$r-font-path}roboto-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('#{$r-font-path}roboto-regular-webfont.woff2') format('woff2'),
        url('#{$r-font-path}roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('#{$r-font-path}roboto-medium-webfont.woff2') format('woff2'),
        url('#{$r-font-path}roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}