.form-loading {
  position: relative;
  min-height: 64px;

  .loader {
    background: rgba(255, 255, 255, .75) url(../img/loading-dark.gif) center center no-repeat;
    position: absolute;
    top: 0;
  }
}